<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Node JS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS.1/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS.1/jquery-ui.structure.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS.1/jquery-ui.theme.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS.1/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS.1/main.css" />
    <script src="../JS/lib/jquery-3.3.1.min.js"></script>
    <script src="../JS/lib/jquery-ui.min.js"></script>
    <script src="../JS/main.js"></script>



</head>

<body>

    <div class="container">
        <h1 class="border-bottom">Ejercicio: Mis tareas</h1>
        <br>
        <input type="text" id="inputTarea">
        <input type="button" class="btn btn-primary m-2" id="anadir" value="Añadir Tarea">
        <br>
        <div class="text-center row m-2">
            <div class="col-4 border-top">
                <h2>Tareas Pendientes</h2>
            </div>
            <div class="col-4 border-top">
                <h2>Tareas para probar</h2>
            </div>
            <div class="col-4 border-top">
                <h2>Tareas Realizadas</h2>
            </div>
        </div>
        <div class="row justify-content-around caja">
            <div class="p-0 col-4 border border-dark">
                <ul class="text-center list-group" id="pendientes">
                    
                </ul>
            </div>
            <div class="p-0 col-4 border border-dark caja">
                <ul class="text-center list-group" id="probar">
                    
                </ul>
            </div>
            <div class="p-0 col-4 border border-dark caja">
                <ul class="text-center list-group" id="realizadas">
                    
                </ul>
            </div>
        </div>

        <form id="formulario" enctype="multipart/form-data">
            <input type='text' class="mr-3" id="tareaText" name="nombre">
            <input type='file' name="foto">
            <button class="btn btn-primary" type="submit" id="anadirTarea">Añadir tarea</button>
        </form>

    </div>


</body>

</html>