<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Node JS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS.1/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS.1/jquery-ui.structure.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS.1/jquery-ui.theme.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS.1/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS.1/main.css" />
    <script src="../JS/lib/jquery-3.3.1.min.js"></script>
    <script src="../JS/lib/jquery-ui.min.js"></script>
    <script src="../JS/log.js"></script>



</head>

<body>

    <div class="container">
        <form id="registerForm">
            <label for="username">Email</label>
            <input type="text" name="email">
            <br>
            <label for="username">Username</label>
            <input type="text" name="name">
            <br>
            <label for="password">Password</label>
            <input type="password" name="password">
            <br>
            
            <button type="button" id="registerButton">Register</button>
        </form>
    </div>

    <div class="container">
        <form id="loginForm">
            <label for="username">Email</label>
            <input type="text" name="email">
            <label for="password">Password</label>
            <input type="password" name="password">
            <button type="button" id="loginButton">Login</button>
          </form>
    </div>

</body>

</html>